In [2]:
import requests
from bs4 import BeautifulSoup

In [61]:
response = requests.get("https://service.berlin.de/terminvereinbarung/termin/tag.php?id=3061&anliegen[]=120691#&termin=1&dienstleister=327437&anliegen[]=120691&herkunft=1")

In [68]:
soup = BeautifulSoup(response.text)

In [74]:
soup.find_all("td",class_='nichtbuchbar')

[<td class="nichtbuchbar">15</td>,
 <td class="nichtbuchbar">16</td>,
 <td class="nichtbuchbar">17</td>,
 <td class="nichtbuchbar">18</td>,
 <td class="nichtbuchbar">21</td>,
 <td class="nichtbuchbar">22</td>,
 <td class="nichtbuchbar">24</td>,
 <td class="nichtbuchbar">25</td>,
 <td class="nichtbuchbar">28</td>,
 <td class="nichtbuchbar">29</td>,
 <td class="nichtbuchbar">31</td>,
 <td class="nichtbuchbar">04</td>,
 <td class="nichtbuchbar">05</td>,
 <td class="nichtbuchbar">07</td>,
 <td class="nichtbuchbar">08</td>,
 <td class="nichtbuchbar">11</td>,
 <td class="nichtbuchbar">12</td>,
 <td class="nichtbuchbar">19</td>,
 <td class="nichtbuchbar">21</td>,
 <td class="nichtbuchbar">22</td>,
 <td class="nichtbuchbar">25</td>,
 <td class="nichtbuchbar">26</td>,
 <td class="nichtbuchbar">28</td>,
 <td class="nichtbuchbar">29</td>]

In [75]:
soup.find_all("td",class_='buchbar')

[]

In [77]:
tables = soup.find_all("table")

In [81]:
for table in tables:
    month = table.find(class_ = "month")
    dates = table.find_all("td")
    dates_notbookable = table.find_all("td", class_= 'nichtbuchbar')
    dates_bookable = table.find_all("td", class_ = "buchbar")
    print(month.text)
    print(dates)
    print(dates_notbookable)

März 2022
[<td colspan="1"></td>, <td class="">01</td>, <td class="">02</td>, <td class="">03</td>, <td class="">04</td>, <td class="">05</td>, <td class="">06</td>, <td class="">07</td>, <td class="">08</td>, <td class="">09</td>, <td class="">10</td>, <td class="">11</td>, <td class="">12</td>, <td class="">13</td>, <td class="heutemarkierung">14</td>, <td class="nichtbuchbar">15</td>, <td class="nichtbuchbar">16</td>, <td class="nichtbuchbar">17</td>, <td class="nichtbuchbar">18</td>, <td class="">19</td>, <td class="">20</td>, <td class="nichtbuchbar">21</td>, <td class="nichtbuchbar">22</td>, <td class="">23</td>, <td class="nichtbuchbar">24</td>, <td class="nichtbuchbar">25</td>, <td class="">26</td>, <td class="">27</td>, <td class="nichtbuchbar">28</td>, <td class="nichtbuchbar">29</td>, <td class="">30</td>, <td class="nichtbuchbar">31</td>, <td colspan="3"> </td>]
[<td class="nichtbuchbar">15</td>, <td class="nichtbuchbar">16</td>, <td class="nichtbuchbar">17</td>, <td class="nichtbuchbar">18</td>, <td class="nichtbuchbar">21</td>, <td class="nichtbuchbar">22</td>, <td class="nichtbuchbar">24</td>, <td class="nichtbuchbar">25</td>, <td class="nichtbuchbar">28</td>, <td class="nichtbuchbar">29</td>, <td class="nichtbuchbar">31</td>]
April 2022
[<td colspan="4"></td>, <td class="">01</td>, <td class="">02</td>, <td class="">03</td>, <td class="nichtbuchbar">04</td>, <td class="nichtbuchbar">05</td>, <td class="">06</td>, <td class="nichtbuchbar">07</td>, <td class="nichtbuchbar">08</td>, <td class="">09</td>, <td class="">10</td>, <td class="nichtbuchbar">11</td>, <td class="nichtbuchbar">12</td>, <td class="">13</td>, <td class="">14</td>, <td class="">15</td>, <td class="">16</td>, <td class="">17</td>, <td class="">18</td>, <td class="nichtbuchbar">19</td>, <td class="">20</td>, <td class="nichtbuchbar">21</td>, <td class="nichtbuchbar">22</td>, <td class="">23</td>, <td class="">24</td>, <td class="nichtbuchbar">25</td>, <td class="nichtbuchbar">26</td>, <td class="">27</td>, <td class="nichtbuchbar">28</td>, <td class="nichtbuchbar">29</td>, <td class="">30</td>, <td colspan="1"> </td>]
[<td class="nichtbuchbar">04</td>, <td class="nichtbuchbar">05</td>, <td class="nichtbuchbar">07</td>, <td class="nichtbuchbar">08</td>, <td class="nichtbuchbar">11</td>, <td class="nichtbuchbar">12</td>, <td class="nichtbuchbar">19</td>, <td class="nichtbuchbar">21</td>, <td class="nichtbuchbar">22</td>, <td class="nichtbuchbar">25</td>, <td class="nichtbuchbar">26</td>, <td class="nichtbuchbar">28</td>, <td class="nichtbuchbar">29</td>]

In [88]:
next = soup.find("th", class_="next").find("a", href=True)

In [90]:
print(next["href"])

/terminvereinbarung/termin/day/1648764000/